div {
    background: rgb(250, 82, 110);
    padding: 10px;
  }
  
  div.first {
    background: rgba(250, 82, 110, 0.1);
  }
  
  div.second {
    background: rgba(250, 82, 110, 0.3);
  }
  
  div.third {
    background: rgba(250, 82, 110, 0.6);
  }