input[type="text"] {
    width: 150px;
    display: block;
    margin-bottom: 10px;
    background-color: rgb(154, 252, 154);
}
  
  input[type="button"] {
    width: 120px;
    margin-left: 35px;
    display: block;
}