#students {
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 100%;
    color: rgba(0, 0, 0, 0.555);
    border: 5px solid rgba(0, 0, 0, 0.76);
}

#students th {
    text-align: center;
    font-size: 20px;
    background-color: rgb(206, 49, 49);
    border: 1px solid rgb(104, 16, 16);
    padding: 8px;
    height: 60px;
}

#students td {
    border: 1px solid rgb(165, 11, 11);
    text-align: center;
    padding: 8px;
}

#students tr {
    background-color: rgb(235, 106, 106);
    font-weight: bolder;
}

#students tr:nth-child(even) {
    background-color: rgb(240, 144, 144);
}

#students tr:hover {
    background-color: rgb(238, 231, 219);
}

.container {
    width: 800px;
    height: 800px;
    overflow-x:auto;
    overflow-y:auto;
}