.div1 {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid rgb(33, 152, 173);
  }
  
  .div2 {
    border: 1px solid rgb(161, 37, 130);
  }
  
  .div3 {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid rgb(21, 68, 155);
  }
  
  .div4 {
    border: 1px solid rgb(187, 103, 103);
    clear: left;
  }