ol {
    list-style-type: none;
    background-color: rgb(223, 93, 132);
    padding: 20px;
}

ol li {
    background-color: rgb(235, 147, 173);
}

ul {
    list-style-type: none;
    background-color: rgb(41, 153, 153) ;
    padding: 20px;
}

ul li {
    background-color: aqua;
}


ol li::before {   
    content: "$";
    color: black;
    width: 1em;
    display: inline-block; 
    margin-left: -0.9em; 
    font-weight: bold; 
    font-size:1.1rem; 
}

ul li::before {
    content: "#";
    color: black;
    width: 1em; 
    display: inline-block;  
    margin-left: -0.9em; 
    font-weight: bold; 
    font-size:1.1rem; 
}

