img {
    float: none;
    border: 2px 2px 2px 2px;
    padding: 2px;
}

p{
    border: 10px double rgb(18, 102, 95);
    text-align: justify;
    padding: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

span {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}